.Side
  .Side__header
    .Side__userName
      = current_user.name
      .Side__btn
        = link_to "#", class: "Side__btn__list" do
          = icon('far', 'edit')
          %span<>
        = link_to edit_user_path(current_user), class: "Side__btn__list" do
          = icon('fas','cog')
  .Side__group
    .Side__group__list      
      %h2 techcamp
      %p まだメッセージがありません  
    .Side__group__list      
      %h2 techcamp
      %p まだメッセージがありません  
    .Side__group__list      
      %h2 techcamp
      %p まだメッセージがありません  
    